.custom-radio input[type="radio"] {
    display: none;
}
.custom-radio input[type="radio"]:checked + span {
    color: #39FF14;
    font-weight: bold;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}

.scroll-indicator {
    text-align: center;
    color: #39FF14;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 0;
    animation: bounce 2s infinite;
    width: 100%;
}

.clicavel .js-plotly-plot .plotly .nsewdrag {
    cursor: pointer !important;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    background-color: #000000; /* Pinta o fundo base de preto para evitar qualquer "flash" branco */
    overflow-x: hidden; /* Evita que apareça uma barra de scroll horizontal sem querer */
}


.meu-titulo-latex h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 24px !important; /* Podes ajustar o tamanho da letra aqui se quiseres! */
}